body{
    background-color: #f08085;
    margin: 0;
    display: table;
    min-height: 100vh;
    width: 100%;
}
main {
    display: table-row;
    /* Чтобы ряд занимал всё оставшееся пространство, так как табличная разметка не позволит ему вытолкнуть header и footer */
    height: 100%;
}
  
footer {
    background-color: black;
    color: white;
    height: 55px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    text-align: left;
    display: block;
    flex: 0 0 50px;
    
  }
.forfooter{
    text-align: right;
}
.footer2{
    margin-top: 0;

}
.footer2 a {
    margin-top: 50px;
}
.white{
    color: white;
}
.tableds {
    border: 3px solid grey;
    font-size: 18px;
}
/* td {
    border: 1px solid grey;
} */
.search-form{
    
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
    margin: 0 auto;
}
.search-form1{
    display: flex;
    justify-content: left;
    align-items: left; 
    position: relative;
    margin: 0 auto;
}

.heading{
        margin:20px auto;
        padding:12px;
        width:580px;
        word-break:break-all;
        text-align: center;
        margin-top: 12%;
        font-weight: bolder;
        font-size: 35px;
        
}
.headingmfc{
        margin:20px auto;
        padding:12px;
        width:580px;
        word-break:break-all;
        text-align: center;
        font-weight: bolder;
        font-size: 35px;
        
}
.fortext{
    text-align: left;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    display: block;
    line-height: 50px;
}
.headingInfo{
    margin:20px auto;
    padding:12px;
    width:580px;
    text-align: center;
    margin-top: 2%;
    font-weight: bolder;
    border-bottom: 2px solid #000000;

}
.headingInfo:hover {
    opacity: 0.80;
}
.bolder{
    font-weight: bolder;
}


.autocomplete-item {
    padding: 10px;
    padding-left: 24px;
    cursor: pointer;
    background-color: #F7CAC9;
    color: #575756;
    border-bottom: 1px solid #575756;
}
.autocomplete-items {
    position: absolute;
    z-index: 99;
    /* расположите элементы автозаполнения так, чтобы они имели ту же ширину, что и контейнер: */
    top: 100%;
    left: 0;
    right: 0;
    
    padding-right: 0px;
    width: 100%;
}
.btninfo{
    background-color: #F7CAC9;
}
.btninfo:hover {
    opacity: 0.80;
}
.search-btn{
    cursor: pointer;
    background-color: black;
    color: white;
    height: 47px;
    width: 40%;
    font-size: 17px;
    opacity: 1;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    text-align: center;
    display: block;
    line-height: 46px;
}
.btn{
    cursor: pointer;
    background-color: black;
    color: white;
    height: 30px;
    width: 25%;
    font-size: 15px;
    opacity: 1;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    text-align: left;
    display: block;
    line-height: 15px;
}
.btn:hover {
    opacity: 0.80;
}
.btnreg{
    
    background-color: black;
    color: white;
    height: 35px;
    width: 100%;
    font-size: 15px;
    opacity: 1;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    text-align: left;
    display: block;
    line-height: 30px;
}
.btnreg:hover {
    opacity: 0.80;
}
.search-btn:hover {
    opacity: 0.80;
}
.search-field{
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
    width: 380%;
    height: 44px;
    display: block;
}
.mapAndText{
    width:1700px;
    display: flex;
}
.graphicWork{
    margin-top: 2%;
    margin-left: 1000px;
} 
.map{
    width:200px;
}
.ar{
    padding: 10px;
    padding-left: 24px;
    cursor: pointer;
    background-color: #F7CAC9;
   
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:40px 40px;
    color: #575756;
    border-bottom: 1px solid #575756;
    
    
}
.left {
    float: left;
    text-align: left;
    margin-right: auto;
    position: relative;

}
.left1 {

    text-align: center;
    position: relative;


}

.right {
    text-align: right;
    float: right;
    position: relative;

}
.right1 {
    float: center;
    text-align: center;
    position: relative;

}
.right2 {
    float: center;
    text-align: right;
    position: relative;

}

.container3 {
    display: flex;
    margin: 0;
    height: 55px;
    display: flex;
    position: relative;

}
.container4 {
    display: flex;
    margin: 0;
    height: 55px;
    display: flex;
    position: relative;

}
